.picture_train {
  box-sizing: border-box;
  width: 1200px;
  height: 600px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  background-image: url(../images/landscape.jpg);
  background-size: contain;
}
#train {
  position: relative;
  left: 400px;
  top: 350px;
  background-image: url(../images/kindpng_2141489.png);
  width: 643px;
  height: 200px;
  background-size: contain;
  z-index: 100;
  transition-property: left;
  /* transition-duration: 10s; */
  transition-timing-function: linear;
}
#searchlight {
    position: relative;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 70px solid rgba(251, 255, 0, 0.986);
    border-bottom: 30px solid transparent;
    z-index: 50;
    position: relative;
    top: 30px;
    left:-20px;
    transition: 0.1s all;
    opacity: 0.7;
  }

.train-right {
  transform: rotateY(180deg);
}
.light-off {
    visibility: hidden;
}
.light-on {
    visibility: visible;
}
.buttons {
  width: 1200px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
.btn {
  width: 150px;
  height: 40px;
  user-select: none;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}
.btn:active {
    background-image: linear-gradient(to right, #f9f7f8, #677771ad, #9e9d8b7e);
    box-shadow: 0 2px #666;
    transform: translateY(5px);
  }
