.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  height: calc(100vh - 60px);
  margin: 0 auto;
  -ms-grid-columns: 10% 1fr 10% 1fr 10% 10% 1fr 1fr 10% 10% 15% 15%;
      grid-template-columns: 10% 1fr 10% 1fr 10% 10% 1fr 1fr 10% 10% 15% 15%;
  -ms-grid-rows: 1fr 2.5fr 2fr 0.5fr 2fr 1.5fr;
      grid-template-rows: 1fr 2.5fr 2fr 0.5fr 2fr 1.5fr;
      grid-template-areas: "logo logo logo logo logo logo logo logo logo about about about" "article1 article1 article1 article1 article2 article2 article2 article2 article2 article2 article2 article2" "article1 article1 article1 article1 aside9 aside9 aside9 aside9 aside9 aside9 aside9 aside9" "aside13 aside13 aside13 aside13 aside13 aside13 aside13 aside13 aside13 aside13 aside13 aside13" "article3 article3 article3 article3 article3 article3 article3 article3 article3 article3 article3 article3" "footer12 footer12 footer12 footer12 footer12 footer12 footer12 footer12 footer12 footer12 footer12 footer12";
  border: 1px solid red;
}

@media (max-width: 400px) {
  .container {
    -ms-grid-columns: (minmax(133px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(133px, 1fr));
    -ms-grid-rows: 1fr 1fr 3fr 1fr 2fr 1.5fr;
        grid-template-rows: 1fr 1fr 3fr 1fr 2fr 1.5fr;
        grid-template-areas: "logo logo logo" "about about about" "article1 article2 article2" "article1 aside9 aside9" "article3 article3 article3" "footer12 footer12 footer12";
  }
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: logo;
  display: -ms-grid;
  display: grid;
  background-color: rgba(101, 202, 248, 0.596);
  font-size: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border: 2px solid black;
}

@media (max-width: 400px) {
  .logo {
    padding: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: about;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20%;
      grid-template-columns: 20% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(245, 245, 101, 0.733);
  font-size: 25px;
  border: 2px solid black;
}

.article1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: article1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 45%;
      grid-template-columns: 45% 45%;
  overflow: auto;
  gap: 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scrollbar-width: thin;
  border: 2px solid black;
}

@media (max-width: 400px) {
  .article1 {
        grid-template-areas: "section-2 section-1";
  }
}

.section-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (220px)[3];
      grid-template-rows: repeat(3, 220px);
  padding-top: 5px;
  grid-gap: 2rem;
}

@media (max-width: 400px) {
  .section-1 {
    grid-area: section-1;
  }
}

.section-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (350px)[2];
      grid-template-rows: repeat(2, 350px);
  -ms-flex-line-pack: end;
      align-content: end;
  grid-gap: 1rem;
}

@media (max-width: 400px) {
  .section-2 {
    grid-area: section-2;
  }
}

.section3, .section4, .section5, .section6, .section6a {
  height: 220px;
  padding: 5px;
  overflow: hidden;
  border: 2px solid black;
}

.section4 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.article2 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-area: article2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 47% 5% 47%;
      grid-template-rows: 47% 5% 47%;
      grid-template-areas: "aside7" "." "aside8";
}

.aside7 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: aside7;
  width: 60%;
  border: 2px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "content image7";
  overflow: auto;
  margin-top: 0.2em;
}

@media (max-width: 400px) {
  .aside7 {
    width: 100%;
    font-size: 14px;
    padding: 0;
  }
}

.aside7 .image7 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: image7;
  display: -ms-grid;
  display: grid;
}

.aside7 .image7 img {
  width: 50%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aside7 .text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 1em;
}

.aside8 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside8;
  width: 60%;
  -ms-grid-column-align: end;
      justify-self: end;
  border: 2px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "image8 content";
  margin-bottom: 0.2em;
  overflow: auto;
}

.aside8 .image8 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image8;
  display: -ms-grid;
  display: grid;
}

.aside8 .image8 img {
  width: 60%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.aside8 .text {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
  padding: 1em;
}

@media (max-width: 400px) {
  .aside8 {
    width: 100%;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
    font-size: 14px;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .aside7 img, .aside8 img {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 15px;
  }
}

.article3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: article3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49.5% 49.5%;
      grid-template-columns: 49.5% 49.5%;
  -webkit-column-gap: 1%;
          column-gap: 1%;
  overflow: auto;
  padding: 5px;
  border: 2px solid black;
}

@media (max-width: 400px) {
  .article3 {
    -ms-grid-columns: (minmax(49.5%, 100%))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(49.5%, 100%));
  }
}

.section10, .section11 {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  border: 2px solid black;
}

.aside9 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 8;
  grid-area: aside9;
  background-image: url(../images/flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 2px solid black;
}

.aside13 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: aside13;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border: 2px solid black;
}

.scrolling {
  position: absolute;
  left: 0;
  -webkit-animation: scroll 10s linear 0.5s infinite;
          animation: scroll 10s linear 0.5s infinite;
}

@-webkit-keyframes scroll {
  100% {
    left: 100%;
  }
}

@keyframes scroll {
  100% {
    left: 100%;
  }
}

@media (max-width: 400px) {
  .aside13 {
    display: none;
  }
}

.footer12 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: footer12;
  background-image: url(../images/hills.jpg);
}
/*# sourceMappingURL=main.css.map */