@font-face {
  font-family: "Houschka_Pro_Bold";
  src: url(../fonts/HouschkaPro-Bold.otf);
}
@font-face {
  font-family: "Houschka_Pro_Medium";
  src: url(../fonts/HouschkaPro-Medium.otf);
}

@keyframes mymove {
  from {
    transform: rotate(1.5deg);
  }
  to {
    transform: rotate(-1.5deg);
  }
}
body {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-height: 800px;
  position: absolute;
  background-color: #b9d6ef;
  background-size: cover;
}

.upper_pic {
  height: 465px;
  max-width: 980px;
  position: relative;
  margin: auto;
}

.cloud1 {
  display: inline-block;
  margin-left: 109px;
}

.cloud2 {
  position: relative;
  float: right;
  right: 46px;
}

.clouds {
  margin-right: 70px;
}

.coming_soon {
  margin-top: 38px;
  font-size: 72px;
  margin-left: 218px;
  font-family: "Houschka_Pro_Bold";
  color: rgb(254, 254, 254);
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
}

.subscribe {
  margin-left: 322px;
  font-size: 14px;
  color: #2b6c95;
  font-family: "Houschka_Pro_Medium";
  
}
.container {
  margin-top: 20px;
  margin-left: 296px;
}

input[type="text"] {
  width: 241px;
  height: 35px;
  box-shadow: inset 1px 1px 3px #e7e7e7, 1px 1px 3px #e7e7e7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 12px;
  margin-right: 55px;
  border-radius: 3px;
  border: transparent;
}

.btn {
  width: 90px;
  height: 35px;
  background-image: linear-gradient(to top, #f5941e, #f8ba33);
  border: 1px solid #faaa22;
  border-radius: 3px;
  margin-left: -50px;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #db9935;
  letter-spacing: -0.04em;
  opacity: 0.85;
}

.btn:hover {
  opacity: 1;
}

.aicberg {
  position: absolute;
  width: 980px;
  margin-top: 25px;
  padding-left: 301px;
}

.boat {
  position: absolute;
  width: 980px;
  margin-top: 198px;
  padding-left: 276px;
  animation: mymove 3s infinite;
  animation-direction: alternate;
}

.white_line {
  height: 4px;
  background-color: white;
}

.blue_line {
  height: 7px;
  background-color: rgb(50, 125, 173);
}

.timer {
  position: relative;
  top: 255px;
  left: 307px;
  height: 150px;
  width: 320px;
  display: flex;
  padding-top: 18px;
}

.lower_pic {
  min-height: 600px;
  background-color: rgb(38, 107, 151);
}

.numbers {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #b9d6ef;
  display: flex;
  justify-content: center;
  line-height: 77px; 
  font-size: 24px;
  color: #2b6c95;
  font-family: "Houschka_Pro_Medium";
  margin: 0 auto;
}

.days,
.hours,
.mins {
  position: absolute;
  font-family: "Houschka_Pro_Bold";
  font-size: 25px;
  margin-top: 1px;
}

.days {
  margin-left: 12px;
}

.hours {
  margin-left: 126px;
}

.mins {
  margin-left: 234px;
}

p {
  width: 32px;
  color: white;
  margin-top: 8px;
  letter-spacing: -1px;
}

.days > p {
  margin-left: 5px;
}

.hours > p {
  margin-left: -9px;  
}

.mins > p {
  margin-left: 7px;
}