
.main {
    margin: auto;
     width: 100%;
     height: 1000px;
     background-color: honeydew;
}
.first_part {
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}
.button {
    position: relative;
    t
    display: inline-block;
    background-color: fuchsia;
    color: honeydew;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: fuchsia;
    border-radius: 5px;
    box-shadow: 0 9px rgb(231, 185, 220);
    overflow: hidden;
}
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 100%;
    background-color: lavender;
    opacity: 0.5;
    transform: translateX(-5em) skewX(-45deg);
    transition: 0.5s;
}
.button:hover::before {
    transform: translateX(8em) skewX(-45deg);
}
  .button:active {
    background-image: linear-gradient(to right, #f9f7f8, #88d8b9, #63a8a5);
    box-shadow: 0 2px rgb(204, 174, 191);
    transform: translateY(5px);
  }
