body {
  width: 500px;
  height: 1000px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(164, 243, 243);
}

.main {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}
.white {
    background-color: white;
}
.cell {
    width: 50px;
    height: 50px;
}
.table {
    width: 100px;
    height: 100px;
}
.button {
     width:190px;
     height: 50px;
     margin-top: 1.5em;
     font-size: 1em;
     border: 1px solid grey;
}
.selected {
    background-color: blue;
}
   

