.main {
    position: relative;
    background-color: aquamarine;
    width: fit-content;
}
.arrow {
   position: absolute;
    height: 120px;
    width: 5px;
    border-left: 2px solid black;
    top: 150px;
    right: 144px;
    z-index: 100;
    animation: switch 60s infinite steps(60);
    transform-origin: 0 0 ;
    transform: rotate(180deg);
}

@keyframes switch {
    100%{
        transform: rotate(540deg); 
    }
}